
<div class="detail container">
    <div class="detail-body" id="container">
        <% if( inform ){  %>

        <div class="card detail-card mt-3" id="card_<%= inform.faculty %>">
            <div class="card-header">

                <div class="header-group" style="padding:1rem">

                    <h5 class="group-title"> <%= inform.title %> </h5>
                    <div class="group-subtitle mb-2 text-muted" id="subtitle">
                        <span class="user_created"><%= inform.faculty %> </span>
                        <span class=" created"> | Date Submitted:<%= inform.createAt.toLocaleString()%></span>
                    </div>
                </div>

            </div>
            <div class="card-body" style="height: 100%; min-height: 200px; max-height: 600px; padding:2rem">
                <p class="card-text"><%= inform.content %> </p>

            </div>
        </div>

        <% } %>

    </div>
    <div class="detail-footer">

    </div>


</div>