<div class="row pt-3">
  <!-- Menu Faculty-->
  <div class="col-sm-2 " style="border-right: 0.1px solid; border-color: rgb(184, 186, 189);">
    <!-- <div class="container pt-2" style="background-color: white;">
      <a class="dropdown-item" href="/informs">InForm TDTU</a>
      <div class="dropdown-divider"></div> -->
    <!-- <a class="dropdown-item" href="#">CNTT</a>
      <a class="dropdown-item" href="#">QTKD</a>
      <a class="dropdown-item" href="#">MARKETING</a> -->
    <!-- </div> -->

  </div>
  <!-- Middle -->

  <div class="col-sm-7 ">

    <div class="post mb-4">
      <img src="<%= user.pic %> " alt="article" class="post__icon">
      <input data-backdrop="false" type="text" class="post__input form-control " data-toggle="modal"
        data-target="#postArticleModal" placeholder="What do you think ? " aria-describedby="basic-addon1" />
    </div>


    <!-- ARTICLE CONTAINER-->


    <% if(articles  ){%>
    <%- include('./partials/article_view.ejs') %>

    <%} %>
  </div>
  

  <!-- EDIT MODAL -->

  <div class="modal fade show" id="editArticleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <form class="modal-content edit-modal" method="POST">
        <div class="modal-header">
          <h5 class="modal__title" id="exampleModalLabel">Edit post</h5>

        </div>
        <div class="modal-body" style="margin-bottom: -10px;">
          <div class=" input-group mb-3">
            <div class="container edit-article ">
              <div class="row m-2"> <textarea type="text" class="form-control" name="content" style="height: 120px;"
                  placeholder="What's on your mind ?"></textarea>
              </div>
              <div class="row m-2">
                <input type="image" name="image" class="filepond">
              </div>
            </div>
          </div>
          <div style="text-align: right; ">
            <input type="checkbox" class="chb-remove-img mr-1" value="remove-image" id="remove-img"
              style="transform: scale(1.2);">
            <label for="remove-img">Remove image</label> </input>
          </div>

        </div>
        <div class=" modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary btn-update-article">Update</button>
        </div>
      </form>
    </div>
  </div>

<!-- CREATE MODAL -->
  <div class="modal fade show" id="postArticleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <form class="modal-content" action="/articles" method="POST">
        <div class="modal-header">
          <h5 class="modal__title" id="exampleModalLabel">Create post</h5>

        </div>
        <div class="modal-body">
          <div class="input-group mb-3">
            <div class="container article ">
              <div class="row m-2"> <textarea type="text" class="form-control" name="content" style="height: 120px;"
                  placeholder="What's on your mind ?"></textarea>
              </div>
              <div class="row m-2">

                <input type="image" name="image" class="filepond">

              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary btn-post-article">Post</button>
        </div>
      </form>
    </div>
  </div>


  <!-- Menu Informs -->
  <div class="col-sm-3" style="border-left: 0.1px solid; border-color: rgb(184, 186, 189);">
    <div class="component__Inform" style="background-color: white;">
      <div class="card">
        <a class="card-header" style="text-align: center; color: black; " href="/informs">
          <strong>Inform</strong>
        </a>
        <% if(typeof informs !== undefined){%>
        <ul class="list-group list-group-flush">
          <% informs.forEach(inform =>{%>


          <li class="list-group-item">
            <div class="card">
              <div class="card-header" style="background-color: rgb(196, 200, 209);">
                <a href="/detail/<%= inform.id %> " style="color: black;" class="card-link"> <%= inform.title %></a>
              </div>
              <div class="card-body text-truncate" style="background-color: rgb(250, 250, 250);"><%= inform.content %>
              </div>
            </div>

          </li>
          <%  }) %>


        </ul>
        <%} %>
      </div>
    </div>
  </div>
</div>
</body>



</html>