<div class="inform inform-container">
    <div class="inform-header">
        <div class="filter mb-2">
            <select class="form-select form-select-sm" aria-label=".form-select-sm example" onclick="getFacultyOption()"
                onchange="fillter()" id="faculty-select">
                <option selected value="0">Select Faculty</option>

            </select>
        </div>
        <% if(user.role<3){%>
        <button type="button" class="btn btn-secondary btn-add-inform" data-toggle="modal"
            data-target="#postInformModal">Add new Inform</button>
        <%} %>


    </div>
    <div class="inform-body" id="container">
        <% if( informs ){  %>
        <% informs.forEach( inform =>{ %>

        <div class="card <%= inform.faculty_id %> mt-3">
            <div class="card-header">
                <div class="header-group">
                    <h5 class="group-title"> <%= inform.title %> </h5>
                    <div class="group-subtitle mb-2 text-muted" id="subtitle">
                        <span class="user_created"><%= inform.faculty %> </span>
                        <span class=" created"> | Date Submitted:<%= inform.createAt.toLocaleString()%></span>
                    </div>
                </div>

                <div class=" dropdown " style="margin-left: auto;">
                    <button class="btn" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-ellipsis-v"></i>
                    </button>

                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

                        <a class="dropdown-item btn-del" href="/informs/delete/<%= inform.id %>"><i
                                class="fas fa-trash-alt btn-del"></i></a>

                        <a class="dropdown-item btn-edit" onclick="editInform('<%= inform.id %>')"
                            name="btn-edit-article" data-toggle="modal" data-target="#editInformModal">
                            <i class=" fas fa-edit btn-edit"></i></a>

                    </div>
                </div>

            </div>
            <div class="card-body">
                <p class="card-text text-truncate"><%= inform.content %> </p>
                <a href="informs/detail/<%= inform.id %> " class="card-link">Xem thêm</a>
            </div>
        </div>
        <% }) %>
        <% } %>

    </div>
    <div class="inform-footer">

    </div>

    <!-- EDIT INFORM MODAL -->
    <div class="modal fade show" id="editInformModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <form class="modal-content edit-modal" method="POST">
                <div class="modal-header">
                    <input class="form-control" name="faculty_id" type="hidden">
                    <h5 class="modal__title" id="exampleModalLabel">Edit Announcement </h5>
                    <input type="hidden" name="faculty" value=""></input>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="input-group mb-3">
                        <div class="container">
                            <div class="row m-2">
                                <input class="form-control" name="faculty" type="hidden"
                                    value="<%= user.department  %>">

                            </div>
                            <div class="row m-2">
                                <input type="text" class="form-control" autocomplete="off" name="title"
                                    placeholder="Title">
                            </div>
                            <div class="row m-2"> <textarea type="text" class="form-control" name="content"
                                    style="height: 120px;" autocomplete="off" aria-label="Text input with checkbox"
                                    placeholder="Content"></textarea>
                            </div>

                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Post</button>
                </div>
            </form>
        </div>
    </div>

    <!-- CREATE INFORM MODAL -->
    <div class="modal fade show" id="postInformModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <form class="modal-content" action="/informs/add" method="POST">
                <div class="modal-header">
                    <input class="form-control" name="faculty_id" type="hidden" value="<%= user.department  %>">
                    <h5 class="modal__title" id="exampleModalLabel">Create Announcement</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="input-group mb-3">
                        <div class="container">
                            <div class="row m-2">
                                <input class="form-control" name="faculty" type="hidden" value="<%= user.faculty  %>">
                            </div>
                            <div class="row m-2">
                                <input type="text" class="form-control" name="title" autocomplete="off"
                                    placeholder="Title">
                            </div>
                            <div class="row m-2"> <textarea type="text" class="form-control" name="content"
                                    style="height: 120px;" autocomplete="off" aria-label="Text input with checkbox"
                                    placeholder="Content"></textarea>
                            </div>

                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Post</button>
                </div>
            </form>
        </div>
    </div>
</div>