<div class="inform inform-container">
    <div class="inform-header">
        <div class="filter mb-2">
            <select class="form-select form-select-sm" aria-label=".form-select-sm example" onchange="fillter()"
                id="filter_faculty">
                <option selected value="0">Select Faculty</option>
                <option value="1">CNTT</option>
                <option value="2">QTKD</option>
                <option value="3">Law</option>
            </select>
        </div>

        <button type="button" class="btn btn-secondary btn-add-inform" data-toggle="modal"
            data-target="#postInformModal">Add new Inform</button>
    </div>
    <div class="inform-body" id="container">
        <% if( informs ){  %>
        <% informs.forEach( inform =>{ %>


        <div class="card inform-card mt-3" id="card_<%= inform.faculty %>">
            <div class="card-header">

                <div class="header-group">

                    <h5 class="group-title"> <%= inform.title %> </h5>
                    <div class="group-subtitle mb-2 text-muted" id="subtitle">
                        <span class="user_created"><%= inform.user_created %> </span>
                        <span class=" created"> | Date Submitted:<%= inform.createAt.toLocaleString()%></span>
                    </div>
                </div>

                <div class=" dropdown " style="margin-left: auto;">
                    <button class="btn" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-ellipsis-v"></i>
                    </button>

                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

                        <a class="dropdown-item btn-del" href="/informs/delete/<%= inform.id %>"><i
                                class="fas fa-trash-alt btn-del"></i></a>

                        <a class="dropdown-item btn-edit" onclick="editInform('<%= inform.id %>')"
                            name="btn-edit-article" data-toggle="modal" data-target="#editInformModal">
                            <i class=" fas fa-edit btn-edit"></i></a>

                    </div>
                </div>

            </div>
            <div class="card-body">
                <p class="card-text"><%= inform.content %> </p>
                <a href="/detail/<%= inform.id %> " class="card-link">Xem thêm</a>
            </div>
        </div>
        <% }) %>
        <% } %>

    </div>
    <div class="inform-footer">

    </div>

    <div class="modal fade show" id="editInformModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <form class="modal-content edit-modal" method="POST">
                <div class="modal-header">
                    <h5 class="modal__title" id="exampleModalLabel">Edit Announcement </h5>
                    <input type="text" name="faculty" value=""></input>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="input-group mb-3">
                        <div class="container">
                            <div class="row m-2">
                                <input type="text" class="form-control" name="title" placeholder="Title">
                            </div>
                            <div class="row m-2"> <textarea type="text" class="form-control" name="content"
                                    style="height: 120px;" aria-label="Text input with checkbox"
                                    placeholder="Content"></textarea>
                            </div>

                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Post</button>
                </div>
            </form>
        </div>
    </div>

    <div class="modal fade show" id="postInformModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <form class="modal-content" action="/informs/add" method="POST">
                <div class="modal-header">
                    <input type="text" name="faculty" value="1"></input>
                    <h5 class="modal__title" id="exampleModalLabel">Create Announcement</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="input-group mb-3">
                        <div class="container">
                            <div class="row m-2">
                                <input type="text" class="form-control" name="title" placeholder="Title">
                            </div>
                            <div class="row m-2"> <textarea type="text" class="form-control" name="content"
                                    style="height: 120px;" aria-label="Text input with checkbox"
                                    placeholder="Content"></textarea>
                            </div>

                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Post</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">


    function editInform(id) {
        let informs = `<%- JSON.stringify(informs) %>`
        informs = JSON.parse(informs)
        informs.forEach(inform => {
            if (inform._id == id) {
                const title = inform.title;
                const content = inform.content;
                console.log(title, content);


                $('[name="title"]').val(title);
                $('[name="content"]').val(content);

                $('.edit-modal').attr("action", `/informs/update/${id}` + "?_method=PUT");
            }
        })
    }



    function fillter() {
        $(".card").hide();
        let fillter = $('#filter_faculty').val();

        if (fillter != 0) {
            $("#card_" + fillter).show();
        } else {
            $(".card").show();
        }



    }

</script>