<!doctype html>
<html>

<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">

</head>

<body>
    <div class="container">
        <div class="row">

            <!-- GOOGLE INFORMATION -->
            <div class="page-header text-center ">
                <h1><span class="fa fa-anchor"></span> Profile Page</h1>
            </div>
            <div class="col-sm-4">
                <div class="profile-container text-center" style="flex-direction: column; ">
                    <div class="well " style="padding-bottom: 30px; padding-left: 30px; background-color: white; ">
                        <h3 class="text-danger"><span class="fa fa-google-plus"></span> Profile</h3>
                        <% if(user){ %>
                        <p style="padding-bottom: 10px;"><img src="<%=user.pic%>" width="100" height="100" alt=""></p>

                        <strong>Email</strong>: <%= user.email || user.name  %><br>
                        <strong>Full Name</strong>: <%= user.name %><br>


                        <% } %>
                    </div>

                </div>
                <div class="d-flex justify-content-center">
                    <a href="/user/logout" class="btn btn-secondary mt-2" style="width: 100px;">Logout</a>
                    <% if(user.name === "admin"){%>
                    <a class="btn btn-info mt-2 ml-3" style="width: 100px;" data-toggle="modal"
                        data-target="#authenticationModal">System</a>

                    <%} %>
                </div>

                <div id="authenticationModal" class="modal" tabindex="-1" role="dialog">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header ">
                                <h4 class="modal-title" style="color: cadetblue;"><strong>Create Faculty
                                        Account</strong></h4>

                            </div>
                            <form method="POST" action="/profile/system">
                                <div class="modal-body p4">

                                    <select id="faculty-select" name="faculty_id" class="mt-4" onclick="getFacultyOption()" onchange="getFacultyName(this)"
                                        style="width: 440px; height: 35px; border-radius: 8px; border:0.5px solid rgb(199, 196, 196) ">
                                        <option selected value="0">Select Faculty</option>

                                    </select>
                                    <input type="text" class="form-control  mt-4" id="faculty_name" placeholder="Faculty name"
                                    name="faculty">
                                    <input type="text" class="form-control  mt-4" placeholder="Username"
                                        name="username">
                                    <input type="password" class="form-control  mt-4" placeholder="Password"
                                        name="password">
                                </div>

                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-primary">Create</button>
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </div>
                            </form>

                        </div>


                    </div>
                </div>
            </div>
             <div class="col-sm-8 ">
            <% if(articles){%>
            <% articles.forEach(article => { %>


            <div class="card article">
                <div class="card-header">

                    <img src="<%= article.avatar %>" alt="article" class="header-icon">
                    <div class="header-group ml-2">
                        <span class="group-title"><strong><%= article.username %> </strong></span>
                        <p class="group-subtitle mb-2 text-muted"><%= article.createAt.toLocaleString()%> </p>
                    </div>
                </div>

                <div class="card-body">
                    <p class="card-text">
                        <%= article.content %>
                    </p>
                    <% if (article.imageSrc){ %>

                    <img src="<%=article.imageSrc%>" alt="img" class="card-image" id="<%= article.id %>">
                    <% } %>

                </div>
            </div>



            <% }); %>
            <%} %>
        </div>
        </div>
       
    </div>

    </div>

    </div>
</body>

</html>